/*  your css code here. If applicable */
.navbar
{
	background-color: #D3D3D3;
}

.container
{
	padding: 10px;
	margin-right: 1rem;
}
.container>ul>li
{
	display: inline;
	margin-right: 1rem;
}
ul{
	list-style-type: none;
}
.container>ul>li
{
	margin-right: 1rem;
}